$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1199px)";
$minLarge: "(min-width: 1200px)";


// Colors
$mainColor: #2196f3;
$mainColorAlt: #1787e0;
$sectionBackground: #ececec;
$ParagraphColor: #777;
$transion: 0.3s;
$mainPadding: 100px;
$mainLineHeight: 1.5;